.button-as-link {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
    font-family: var(--normal-font-fam);
    font-size: 1em;
}

dt::after {
    content: ": ";
}

.movie-title {
    font-size: 20px;
}

.col {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

img {
    width: 100%;
}